@namespace H.LowCode.Themes.AntBlazor
@inherits RenderEngineLowCodeComponentBase

@inject IFormDataAppService FormDataAppService

@if (formDTO != null)
{
    <Form Model="formDTO.Fields"
    OnFinish="OnFinishAsync" OnFinishFailed="OnFinishFailed"
    LabelColSpan="8" WrapperColSpan="16">
        @foreach (var component in Page.Components)
        {
            <FormComponentRender Component="@component" IsInRootContainer="true"></FormComponentRender>
        }

        <FormItem WrapperColOffset="8" WrapperColSpan="16" Style="clear:both; padding-top: 15px;">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                保存
            </Button>
            <Button HtmlType="button" Style="margin: 0 8px">
                取消
            </Button>
        </FormItem>
    </Form>
}

@code {
    [Parameter]
    public PageSchema Page { get; set; }

    private string Id;
    private FormDataDTO formDTO;

    protected override async Task OnInitializedAsync()
    {
        Id = GetQueryValue("id");
        if (string.IsNullOrEmpty(Id))
            Id = "empty";
        formDTO = await FormDataAppService.GetAsync(Page.AppId, Page.Id, Id);
    }

    private async Task OnFinishAsync()
    {
        var success = await FormDataAppService.SaveAsync(formDTO);
        if (success)
            await Message.Success("保存成功");
        else
            await Message.Error("保存失败");
    }

    private void OnFinishFailed(EditContext editContext)
    {

    }
}