@page "/workbench/docs"
@namespace H.LowCode.Workbench
@inherits LowCodePageComponentBase
@layout WorkbenchLayout

<PageTitle>文档中心 - H.LowCode</PageTitle>

<style>
    .solution-banner {
        text-align: center;
        height: 160px;
        line-height: 160px;
        overflow: hidden;
        margin: -24px -24px 10px -24px;
        background-size: 100% 160px;
        background-image: url(_content/H.LowCode.Workbench/images/img_001.png);
    }
</style>

<div class="solution-banner">
    <div style="font-size: 24px; font-weight: bold;">
        <span>低代码平台</span>
        <span style="color: white; -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(360deg, #0089ff 30%, #30e724);
                background-clip: text; -webkit-background-clip: text;">文档中心</span>
    </div>
</div>

<div style="width: 80%; margin: auto;">
    <Card Title="应用开发" Style="float:left; width:300px; margin:5px;">
        <Extra>
            <a href="#">查看</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <Card Title="主题开发" Style="float:left; width:300px; margin:5px;">
        <Extra>
            <a href="#">查看</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <Card Title="组件开发" Style="float:left; width:300px; margin:5px;">
        <Extra>
            <a href="#">查看</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    <Card Title="定制开发" Style="float:left; width:300px; margin:5px;">
        <Extra>
            <a href="#">查看</a>
        </Extra>
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
</div>