<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- 本地源,用于日常开发 -->
		<add key="local" value="D:\H\NuGetPackages" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="local" condition="'$(NUGET_LOCAL_ENABLE)' == 'true'">
			<package pattern="H.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>