@namespace H.LowCode.DesignEngine
@inherits LowCodeComponentBase

@if (Component.IsSupportDataSource){
    <div style="border-left: 5px solid #d0d4da;padding: 0 0 0 8px; margin:30px 0 10px;">数据源</div>

    if (Component.DataSource.DataSourceGroupType == ComponentDataSourceGroupTypeEnum.General)
    {
        <div class="propertysetting-item">
            <label>字段：</label>
            <div>@Component.Name</div>
        </div>
    }
    else if (Component.DataSource.DataSourceGroupType == ComponentDataSourceGroupTypeEnum.Option)
    {
        <Button Type="ButtonType.Default" OnClick="ShowDataSourceOptionModelAsync">
            配置数据源
        </Button>
    }
    else{
        <div class="propertysetting-item">
            <label>不支持的数据源类型</label>
        </div>
    }
}

<Modal Title="配置数据源" @bind-Visible="@_dataSourceOptionVisible"
    OnOk="OnConfirmAsync" Width="1000">
    <OptionDataSourceSetting @bind-DataSource="Component.DataSource"></OptionDataSourceSetting>
</Modal>

@code {
    [Parameter]
    public ComponentPartsSchema Component { get; set; }

    private bool _dataSourceOptionVisible;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void ShowDataSourceOptionModelAsync()
    {
        _dataSourceOptionVisible = true;
    }

    private async Task OnConfirmAsync(MouseEventArgs e)
    {
        var validate = true;
        if (validate)
        {
            var isSuccess = await SaveComponentDataSourceAsync();
            if (isSuccess)
            {
                _dataSourceOptionVisible = false;
                await Message.Success("保存成功！");
            }
            else
            {
                _dataSourceOptionVisible = true;
                await Message.Error("保存失败");
            }
        }
        else
        {
            _dataSourceOptionVisible = true;
        }
    }

    private async Task<bool> SaveComponentDataSourceAsync()
    {
        return await Task.FromResult(true);
    }
}
