@namespace H.LowCode.Workbench
@inherits DesignEngineLowCodeComponentBase
@layout WorkbenchLayout

<div style="display: flex; justify-content: space-between; margin: 0 0 8px 5px;">
    <div style="width:250px;">
        <Search Placeholder="页面库名称" OnSearch="()=>{}" />
    </div>
</div>

<Card Title="仪表盘" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="#">查看</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="表单页" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="#">查看</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="列表页" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="#">查看</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="统计页" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="#">查看</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}